@{
    ViewData["Title"] = "Home Page";
}

<script src="https://kit.fontawesome.com/2ca93d86e5.js" crossorigin="anonymous"></script>
<div>
    <div class="align-items-center justify-content-center text-center">
        <div class="text-white pt-5">
            <h1 class="mb-3">BgAuto</h1>
            <h4 class="mb-4">Promotions up to 30%!</h4>
            <a class="btn btn-outline-light btn-lg mb-3" href="/Car/Promotion" role="button">
                See the promotional offer
                <i class="fas fa-gem ms-1"></i>
            </a>
            <a class="btn btn-outline-light btn-lg mb-3" href="/Car/All" role="button">
                See our cars offer
                <i class="fa-solid fa-cart-plus"></i>
            </a>
        </div>
    </div>
</div>