@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
            <img src="car.jpg" alt="Car" style="width:100%;">
            <div class="text-block">
                <h4>Nature</h4>
                <p>What a beautiful sunrise</p>
            </div>
    </div>*@



<div style="position: page">
        <img src="/car.jpg" class="img-fluid" />
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
            <div class="text-white">
                <h1 class="mb-3">BgAuto</h1>
                <h4 class="mb-4">Promotions up to 30%!</h4>
                <a class="btn btn-outline-light btn-lg mb-3" href="/Car/All" role="button">
                    See the promotional offer
                    <i class="fas fa-gem ms-1"></i>
                </a>
            </div>
        </div>
    </div>

@*@if (!this.User.Identity.IsAuthenticated)
    {
        <div class="jumbotron bg-eventures w-75 mx-auto">
            <h1>BgAuto</h1>
            <hr class="hr-2 bg-dark" />
            <h3 class="mt-4"><a href="/Identity/Account/Login">Login</a> to start "looking".</h3>
            <h3 class="mt-4"><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h3>
        </div>
    }
    else
    {
        <div class="jumbotron bg-eventures w-75 mx-auto">
            <h1 class="text-center">Welcome, @this.User.Identity.Name</h1>
            <hr class="hr-2 bg-secondary" />
            <h4 class="mt-4 text-secondary text-center">BgAuto wishes you an great time.</h4>
            <h3 class="mt-4">View <a href="/Car/All">all cars</a>.</h3>
            @if (User.IsInRole("Administrator"))
            {
                <h3 class="mt-4">Create a <a href="/Car/Create">new car</a>.</h3>
            }
        </div>
    }*@
