@model TestDriveCreateBindingModel

<form asp-controller="TestDrive" asp-action="Create" method="post">
    <div class="d-flex align-items-center" style="justify-content: space-evenly">
        <button type="submit" class="btn btn-danger">TestDrive</button>
    </div>
    <input type="hidden" asp-for="CarId" value="@Model.CarId" />
</form>