<div class="about-section">
    <h1>About Us Page</h1>
    <p>
        Всеки употребяван автомобил може да бъде тестван. По този начин можете сами да се уверите в удоволствието от шофирането и комфорта на автомобилите които предлагаме, както и в тяхното качество.
        Една възможност, която ще ви помогне да сте сигурни, че тестваният модел ви приляга идеално.
    </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="modal-footer justify-content-center">
    <div class="row d-inline-block">
        <div class="column">
            <div class="card">
                <img src="../pro3.jpg" alt="Kristiyan" style="width:100%">
                <div class="container">
                    <h2>Kristiyan Vladimirov</h2>
                    <p class="title">Developer & Founder</p>
                    <p>k.vladimirov2017@pmg-pernik.com</p>
                    <div>
                        <a asp-controller="Contact" asp-action="Contacts">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-inline-block">
        <div class="column">
            <div class="card">
                <img src="../pro3.jpg" alt="Kristiyan" style="width:100%">
                <div class="container">
                    <h2>Kristiyan Vladimirov</h2>
                    <p class="title">Developer & Founder</p>
                    <p>k.vladimirov2017@pmg-pernik.com</p>
                    <div>
                        <a asp-controller="Contact" asp-action="Contacts">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-inline-block">
        <div class="column">
            <div class="card">
                <img src="../pro3.jpg" alt="Kristiyan" style="width:100%">
                <div class="container">
                    <h2>Kristiyan Vladimirov</h2>
                    <p class="title">Developer & Founder</p>
                    <p>k.vladimirov2017@pmg-pernik.com</p>
                    <div>
                        <a asp-controller="Contact" asp-action="Contacts">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
